body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.covid-map {
  width: 512px;
  height: 512px;
  margin: 20px auto 0;
}

.covid-map-container {
  background-color: #111236;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Courier New', Courier, monospace;
}

.covid-map-container .covid-info {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
}

.covid-map-container .covid-info .beta-info {
  position: absolute;
  top: 10px;
  right: 25px;
  padding: 5px;
  font-size: 12px;
  padding: 6px;
  background-color: #f1f2f8;
  color: #111236;
  border-radius: 4px;
}

.covid-map-container .covid-info .info-for-country h1 {
  font-size: 60px;
  margin: 30px 0;
}

.covid-map-container .covid-info .info-for-country label,
.covid-map-container .covid-info .info-for-country select {
  font-size: 16px;
}

.covid-map-container .covid-info .info-additional p {
  font-size: 16px;
}

.covid-map-container .covid-info .info-for-country select {
  color: #5a489b;
  outline: none;
  padding: 6px;
  border-radius: 4px;
  border: none;
}

.covid-map-container .covid-info .info-for-country,
.covid-map-container .covid-info .info-additional {
  -ms-flex-preferred-size: 512px;
      flex-basis: 512px;
}

.covid-map-container .covid-info .info-additional .info-date {
  font-size: 12px;
}
